<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Login before accessing ToDo</h3>
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <br>
        <input type="text" name="username" placeholder="username"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
            <button style="background-color:#ccccff; color:blue" class="btn btn-outline-info" type="submit">Login</button>
        </form>
    </div>
{% endblock %}
</body>
</html>