<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<body style="background-color:#eca5f0">
<h1>About Us</h1>
<p1 style="font-size:30px"><i>This is a simple ToDo app created in Python!</i></p1>
<br><br>
<style>
p2 {
  font-family: Arial, Helvetica, sans-serif;
}

</style>

<p2><b>‘Todo’</b> is a simple application built in python and Django to add items ,update and delete the items using primary key value. The authenticated user can login to the app and if not authenticated, user is not authorised to access the app.There is a succesful logout tab on the top of list.

</p2>
</body>
</html>